<!-- Breadcrumb -->
<div class="container mt-7">
    <app-breadcrumb [categories]="categories ?? []" [postTitle]="title ?? ''"></app-breadcrumb>
</div>

<main class="blog-content">
    <div class="container">

        <!-- ヘッダー -->
        <div class="row align-items-center justify-content-around">
            <div class="col-md-6 col-xl-6 mt-4">
                <div class="card bg-primary shadow-soft border-light organic-radius p-3">
                    <img class="organic-radius img-fluid" src="../../assets/img/keyboard.jpg" alt="keyboard">
                </div>
            </div>
            <div class="col-md-6 col-xl-5 text-center text-md-left">
                <h1 class="h1 mt-4 mb-4">{{title}}</h1>
                <div class="text-md-center">
                    <div class="d-flex justify-content-center align-items-center mx-2 my-2"><span class="small"><span
                                class="far fa-calendar-alt mr-2"></span>{{date}}</span>
                    </div>

                    <div class="container-fluid">
                        <div class="row row-cols-auto">
                            <div class="col-auto" *ngFor="let tag of tags">
                                <a [routerLink]="['/blog/posts']" [queryParams]="{tag: tag, page: 1}">
                                    <div class="btn btn-pill px-2 py-1 mx-1 my-1"><span
                                            class="fa-solid fa-tag mr-1"></span>{{tag}}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr color="#808080">

        <div [innerHTML]="articleHtml"></div>
    </div>
</main>