<!-- Breadcrumb -->
<div class="container mt-7">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-gray breadcrumb-transparent">
            <li class="breadcrumb-item"><a class="underline-link" [routerLink]="['/blog']">Blog Home</a></li>
            <li><span class="fas fa-angle-double-right mx-2"></span></li>
            <li class="breadcrumb-item">
                <a class="underline-link" *ngFor="let category of post.categories"
                    [routerLink]="['/categories', category]">
                    {{ category }}
                </a>
            </li>
            <li><span class="fas fa-angle-double-right mx-2"></span></li>
            <li class="breadcrumb-item">{{title}}</li>
        </ol>
    </nav>
</div>

<main class="blog-content">
    <section class="section">
        <div class="container">

            <!-- ヘッダー -->
            <div class="row align-items-center justify-content-around">
                <div class="col-md-6 col-xl-6 mt-4">
                    <div class="card bg-primary shadow-soft border-light organic-radius p-3">
                        <img class="organic-radius img-fluid" src="../../assets/img/keyboard.jpg" alt="keyboard">
                    </div>
                </div>
                <div class="col-md-6 col-xl-5 text-center text-md-left">
                    <h1 class="h1 mt-4 mb-4">{{title}}</h1>
                    <div class="text-md-right">
                        <p>
                            {{date}}<br>
                            tags: {{tags}}<br>
                            categories: {{categories}}
                        </p>
                    </div>
                </div>
            </div>

            <hr color="#808080">

            <div [innerHTML]="articleHtml"></div>
        </div>
    </section>
</main>